<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <a href="/DotNet/contact">Contact</a>
    <a href="/DotNet/about">About</a>
    <a href="/DotNet/home">Home</a>
    This is home of .NET
</body>
</html>