
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form>
    <input type="text" placeholder="Username" /><br />
    <input type="text" placeholder="Passwod" /><br />
</form>
<a href="/pages/loginsubmit" class="btn btn-primary">Login</a>

