

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div> 
        <div>
            <a class="btn btn-primary" href="/Dashboard/Index">Dash</a>
            <a class="btn btn-success" href="/dashboard/myprofile">Profile</a>
            <a class="btn btn-danger" href="/dashboard/settings">Settings</a>
            <a class="btn btn-warning" href="/dashboard/logout">Logout</a>
        </div>
        @RenderBody()
        <div>
            Copyright @@ .NET[C] @DateTime.Now.Year
        </div>
    </div>
</body>
</html>
